#ignore ide files
/.idea
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#build files
/bin

#enviroment file
/api/.env

#temp files
/api/tmp

#node modules
/client/node_modules
/dist